# 9. Use pycaret to automatically identify the best model for this dataset.

In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from pycaret.regression import *

In [2]:
df=pd.read_csv("garments_worker_productivity.csv")
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [3]:
df.isnull().sum()

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [4]:
df['wip']=df['wip'].replace(np.NaN,0)

In [5]:
df['date']=df['date'].astype('category')
df['date']=df['date'].cat.codes

In [6]:
df['quarter']=df['quarter'].astype('category')
df['quarter']=df['quarter'].cat.codes

In [7]:
df['department']=df['department'].astype('category')
df['department']=df['department'].cat.codes

In [8]:
df['day']=df['day'].astype('category')
df['day']=df['day'].cat.codes

In [9]:
y=df['actual_productivity']
X=df.drop('actual_productivity',axis=1)

X

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers
0,0,0,2,3,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0
1,0,0,1,3,1,0.75,3.94,0.0,960,0,0.0,0,0,8.0
2,0,0,2,3,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5
3,0,0,2,3,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5
4,0,0,2,3,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,51,1,0,5,10,0.75,2.90,0.0,960,0,0.0,0,0,8.0
1193,51,1,0,5,8,0.70,3.90,0.0,960,0,0.0,0,0,8.0
1194,51,1,0,5,7,0.65,3.90,0.0,960,0,0.0,0,0,8.0
1195,51,1,0,5,9,0.75,2.90,0.0,1800,0,0.0,0,0,15.0
1196,51,1,0,5,6,0.70,2.90,0.0,720,0,0.0,0,0,6.0

In [10]:
X_train, X_test = train_test_split(df, test_size = .2, random_state = 143)

In [11]:
s=setup(data=X_train,test_data=X_test,target='actual_productivity',numeric_features = ['date','quarter','quarter','day','team','targeted_productivity','smv','wip','over_time','incentive','idle_time','idle_men','no_of_style_change','no_of_workers'],fold_strategy = 'timeseries', fold = 3, session_id = 123)

In [12]:
best = compare_models(sort = 'MAE')

In [13]:
predictions = predict_model(best, data = X_test)

In [14]:
predictions

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,Label
554,26,0,2,2,12,0.75,15.26,1276.0,1440,45,0.0,0,0,35.0,0.750451,0.744431
1158,50,1,2,4,12,0.80,15.26,1069.0,4080,63,0.0,0,0,34.0,0.800402,0.800399
640,46,0,2,1,10,0.80,22.52,1142.0,6720,88,0.0,0,0,56.0,0.900130,0.904634
988,49,0,2,2,8,0.75,29.40,622.0,6240,56,0.0,0,0,57.0,0.750750,0.752104
381,12,3,2,3,11,0.70,14.89,1863.0,10260,50,0.0,0,0,57.0,0.700170,0.700432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,1,1,1,1,7,0.80,2.90,0.0,1440,0,0.0,0,0,8.0,0.670076,0.598603
99,23,0,2,4,10,0.75,28.08,1209.0,10530,45,0.0,0,0,58.5,0.750545,0.754982
254,5,1,2,5,10,0.50,22.40,947.0,3390,23,0.0,0,0,56.5,0.499980,0.493935
73,22,0,2,0,12,0.80,11.61,1037.0,7200,50,0.0,0,0,32.0,0.800246,0.800192
754,30,1,2,1,2,0.80,22.52,674.0,3660,63,0.0,0,0,57.0,0.800375,0.825738